<app-navbar></app-navbar>
<main class="container grid-container py-5 dashboard-section">
    <section class="employee-details mt-3">
    <h2 class="text-center form-heading">Employee List</h2>
  
    <!-- Search bar -->
    <div class="input-group mb-4 w-50 mx-auto">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control" placeholder="Search by employee name..." [(ngModel)]="searchText">
    </div>
  
    <div class="row g-4">
      <article class="col-md-4" *ngFor="let employee of employees; let i = index">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ employee.employee_name | uppercase }}</h3>
            <p class="card-text"><strong>Username:</strong> {{ employee.employee_name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ employee.employee_email }}</p>
            <p class="card-text"><strong>Manager:</strong> {{ employee.manager_name }}</p>
            <button class="btn btn-danger w-100" (click)="removeEmployee(i)">Remove</button>
          </div>
        </div>
      </article>
    </div>
  </section>
</main>  
